.hero h1 {
  margin-block-start: 0;
  margin-block-end: 0;
}
.hero {
  box-sizing: border-box;
  /* Full screen hero section */
  width: 100%;
  min-height: 100dvh;
  background: #2E4057;
  color: #F6D8AE;
  font-family: "Sekuya", system-ui;
  font-weight: 400;
  font-style: normal;
  text-align: center; 
}
.hero a {
  color: white;
  text-decoration: underline;
  text-decoration-color: #DA4167;
}

/* A little "activation" to demonstrate JS is working in the template */
.hero {
  transition: background 0.5s;
}
.hero.active {
  background: #DA4167;
}
.hero.active a {
  color: #F6D8AE;
  text-decoration-color: #2E4057;
}

@media (max-width: 800px) {
  .hero {
    font-size: 45px;
  }
}

@media (min-width: 801px) {
  .hero {
    font-size: 75px;
  }
}
